<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"20vh","bottom":"20vh","right":"2vw","left":"2vw"}}},"layout":{"inherit":true,"type":"constrained"}} -->
<main class="wp-block-group" style="padding-top:20vh;padding-right:2vw;padding-bottom:20vh;padding-left:2vw"><!-- wp:heading {"textAlign":"center","level":1,"style":{"spacing":{"margin":{"bottom":"2vw"}}},"fontSize":"medium"} -->
<h1 class="wp-block-heading has-text-align-center has-medium-font-size" id="oops-that-page-can-t-be-found" style="margin-bottom:2vw">Oops! That page can’t be found.</h1>
<!-- /wp:heading -->

<!-- wp:paragraph {"style":{"spacing":{"margin":{"bottom":"2vw"}}}} -->
<p style="margin-bottom:2vw">It looks like nothing was found at this location. Maybe try a search?</p>
<!-- /wp:paragraph -->

<!-- wp:search {"label":""} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->