<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"0vw","bottom":"0vw","right":"0vw","left":"0vw"}}}} -->
<main class="wp-block-group" style="padding-top:0vw;padding-right:0vw;padding-bottom:0vw;padding-left:0vw"><!-- wp:group {"style":{"spacing":{"padding":{"top":"1vw","right":"2vw","bottom":"1vw","left":"2vw"}},"border":{"width":"0px","style":"none"}},"layout":{"inherit":true,"type":"constrained"}} -->
<div class="wp-block-group" style="border-style:none;border-width:0px;padding-top:1vw;padding-right:2vw;padding-bottom:1vw;padding-left:2vw"><!-- wp:query-title {"type":"archive","align":"wide"} /--></div>
<!-- /wp:group -->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"0vw","bottom":"0vw","right":"0vw","left":"0vw"},"blockGap":"0px"},"border":{"width":"0px","style":"none"}}} -->
<main class="wp-block-group" style="border-style:none;border-width:0px;padding-top:0vw;padding-right:0vw;padding-bottom:0vw;padding-left:0vw"><!-- wp:group {"style":{"spacing":{"padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"},"blockGap":"0px"},"border":{"top":{"style":"none","width":"0px"},"right":{"color":"var:preset|color|one","width":"0px","style":"none"},"bottom":{"style":"none","width":"0px"},"left":{"color":"var:preset|color|one","width":"0px","style":"none"}}},"layout":{"inherit":true,"type":"constrained"}} -->
<div class="wp-block-group" style="border-top-style:none;border-top-width:0px;border-right-color:var(--wp--preset--color--one);border-right-style:none;border-right-width:0px;border-bottom-style:none;border-bottom-width:0px;border-left-color:var(--wp--preset--color--one);border-left-style:none;border-left-width:0px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px"><!-- wp:query {"queryId":2,"query":{"perPage":6,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true},"displayLayout":{"type":"flex","columns":3},"align":"wide"} -->
<div class="wp-block-query alignwide"><!-- wp:post-template {"className":"porcupine-blog"} -->
<!-- wp:group {"style":{"spacing":{"padding":{"top":"2vw","bottom":"2vw","right":"2vw","left":"2vw"},"blockGap":"0vw"},"border":{"width":"0px","style":"none"}},"className":"porcupine-fullheight","layout":{"inherit":false}} -->
<div class="wp-block-group porcupine-fullheight" style="border-style:none;border-width:0px;padding-top:2vw;padding-right:2vw;padding-bottom:2vw;padding-left:2vw"><!-- wp:post-featured-image {"isLink":true,"width":"100%","height":"35vh","style":{"color":[]}} /-->

<!-- wp:post-title {"isLink":true,"style":{"spacing":{"margin":{"bottom":"calc( 0.5 * var(--wp--custom--gap--vertical) )"}}},"fontSize":"moderate"} /-->

<!-- wp:post-excerpt {"moreText":"Click or not...","style":{"spacing":{"margin":{"top":"calc( 0.5 * var(--wp--custom--gap--vertical) )","bottom":"calc( 0.5 * var(--wp--custom--gap--vertical) )"}}},"fontSize":"midsmall"} /-->

<!-- wp:post-date {"isLink":true,"style":{"typography":{"fontWeight":"500"}},"fontSize":"midsmall"} /--></div>
<!-- /wp:group -->
<!-- /wp:post-template -->

<!-- wp:query-pagination {"className":"porcupine-pagination"} -->
<!-- wp:query-pagination-previous /-->

<!-- wp:query-pagination-next /-->
<!-- /wp:query-pagination --></div>
<!-- /wp:query --></div>
<!-- /wp:group --></main>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->